POSTGRES_DB=mtdb
POSTGRES_USER=mtadmin
POSTGRES_PASSWORD=

APP_POSTGRES_USERNAME=sbapp
APP_POSTGRES_PASSWORD=

APP_AUTH_POSTGRES_USERNAME=sbapp_auth
APP_AUTH_POSTGRES_PASSWORD=

SB_PORT=8080
DB_PORT=5432
DB_URL=jdbc:postgresql://db:${DB_PORT}/${POSTGRES_DB}
